    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="{{site.url}}/img/portfolio/{{ page.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                    <div class="intro-text">
                        <span class="name">{{ page.title }}</span>
                        <hr class="star-light">
                    </div>
                </div>
                <div class="col-lg-12">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      {% if !page.github.blank? %}
                      <a href="{{page.github}}" class="btn btn-lg btn-outline">
                          <i class="fa fa-github"></i> View GitHub repositories
                      </a>
                      {% endif %}
                      {% if !page.article.blank? %}
                      &nbsp;
                      <a href="{{page.article}}" class="btn btn-lg btn-outline">
                          <i class="ai ai-doi"></i> {{page.doi}}
                      </a>
                      {% endif %}
                  </div>
                </div>
            </div>
        </div>
    </header>

