    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ post.title }}</span>
                        <hr class="star-light">
                    </div>
                </div>
                <div class="col-lg-12">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      <a href="{{post.github}}" class="btn btn-lg btn-outline">
                          <i class="fa fa-github"></i> View GitHub repositories
                      </a>
                      &nbsp;
                      <a href="{{post.article}}" class="btn btn-lg btn-outline">
                          <i class="ai ai-doi"></i> {{post.doi}}
                      </a>
                  </div>
                </div>
            </div>
        </div>
    </header>

