    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if page.img.strip != "" and page.img.strip != nil %}
                      <img src="{{site.url}}/img/portfolio/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.title }}">
                    {% else %}
                      <img src="{{site.url}}/img/portfolio/portfolio_default.png" class="img-responsive img-centered" alt="{{page.title}}">
                    {% endif %}
                    <div class="intro-text">
                        <span class="name">{{ page.title }}</span>
                        <hr class="star-light">
                    </div>
                </div>
                <!--{{page.img}}-->
                <!--{{page.article}}-->
                <div class="col-lg-12">
                  <div class="col-lg-8 col-lg-offset-2 text-center">
                      {% if page.github != "" %}
                      <a href="{{page.github}}" class="btn btn-lg btn-outline">
                          <i class="fa fa-github"></i> View GitHub repositories
                      </a>
                      {% endif %}
                      {% if page.article.strip != "" and page.article.strip != nil %}
                      &nbsp;
                      <a href="{{page.article}}" class="btn btn-lg btn-outline">
                          {% if page.arxiv == 1 %}
                            <i class="ai ai-arxiv"></i> {{page.doi}}
                          {% elsif page.oa == 1 %}
                            <i class="ai ai-open-access"></i> {{page.doi}}
                          {% else %}
                            <i class="ai ai-doi"></i> {{page.doi}}
                          {% endif %}
                      </a>
                      {% endif %}
                  </div>
                </div>
            </div>
        </div>
    </header>

