    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if page.img != "" and page.img != nil %}
                      <img src="{{site.url}}/img/portfolio/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.title }}">
                    {% else %}
                      <img src="{{site.url}}/img/portfolio/portfolio_default.png" class="img-responsive img-centered" alt="{{page.title}}">
                    {% endif %}
                    <div class="intro-text">
                        <span class="postname"> Publications </span>
                        <hr class="star-light">
                    </div>
                </div>
            </div>
        </div>
    </header>

