            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <p>Tags:
                              <!--{{page.tags.split(',')}}-->
                              {% for tag in page.tags | split(',') %}
                                <a href="{{site.url}}/tags/#{{tag}}" class="btn btn-outline"><i class="fa fa-hashtag"></i>{{tag}}</a>
                              {% endfor %}
                           </p>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <p>{{ page.description }}</p>
                        </div>
                    </div>
                </div>
             </div>

