            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <p>Tags:
                              <!--{{page.tags.split(',')}}-->
                              {% for current_tag in page.tags %}
                                <a href="{{site.url}}/tags/#{{ current_tag }}" >{{ current_tag }}</a>
                              {% endfor %}
                           </p>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <p>{{ page.description }}</p>
                        </div>
                    </div>
                </div>
             </div>

