            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            {% for pub in page.pubs %}
                              <p>
                              <b>{{ pub.date }}</b>, {{pub.journal}}<br>
                              {% if pub.post != "" and pub.post != nil %}
                                <a href="{{pub.post}}">{{pub.title}}</a>
                              {% else %}
                              <b>{{pub.title}}</b>
                              {% endif %} <br/>
                              {% for author in pub.authors %}
                                 <a href="{{page.authors[ author ].website}}">
                                  {% if author == "TG" %}
                                    <b>{{page.coauthors[ author ].name}}</b>
                                  {% else %}
                                    {{page.coauthors[ author ].name}}
                                  {% endif %}
                                 </a>
                                  {%unless forloop.last %}
                                    ,
                                  {%endunless%}
                              {% endfor %}
                              <a href="{{pub.pdf}}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                              </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
             </div>

