            <div class="container">
                <div class="row">
                   {% for pub in page.pubs %}
                     <p>
                     <b>{{ pub.date }}</b>, {{pub.journal}} |
                     {% if pub.post != "" and pub.post != nil %}
                       <a href="{{pub.post}}"><i>{{pub.title}}</i></a> | <a href="{{pub.pdf}}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                     {% else %}
                     <b>{{pub.title}}</b>
                     {% endif %} <br/>
                     {% for author in pub.authors %}
                        {% assign authorinfo = page.coauthors[ author ] %}
                        <a href="{{authorinfo.website}}">
                         {% if author == "TG" %}
                           <b>{{authorinfo.name}}</b>
                         {% else %}
                           {{authorinfo.name}}
                         {% endif %}
                        </a>
                         {%unless forloop.last %}
                           ,
                         {%endunless%}
                     {% endfor %}
                     </p>
                   {% endfor %}
                </div>
             </div>

