            <div class="container">
                <div class="row">
                   {% assign lastdate = "-1111" %}
                   {% assign publications = page.pubs | sort: 'date' | reverse %}
                   {% for pub in publications %}
                     {% if (lastdate != pub.date) %}
                       {% assign lastdate = pub.date %}
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2>{% if lastdate == 9999 %} In Preparation {% else %} {{lastdate}} {% endif %}</h2>
                                <hr class="star-primary">
                            </div>
                        </div>
                     {% endif %}
                     <p>       
<div style="width: 100%; overflow: hidden;">
    <div style="width: 60%; float: left;">
                     {% if pub.post != "" and pub.post != nil %}
                       <a href="{{pub.post}}"><i>{{pub.title}}</i></a>
                     {% else %}
                     <i>{{pub.title}}</i>
                     {% endif %}
    </div>
    <div style="margin-left: 60%;">
                     | <b>{{pub.journal}}</b>
                     {% if pub.pdf != "" and pub.pdf != nil %} | <a href="{{pub.pdf}}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a> {%endif%} <br/>

    </div>
</div>
                     {% for author in pub.authors %}
                        {% assign authorinfo = page.coauthors[ author ] %}
                         {%if forloop.last %}
                           and 
                         {%endif%}
                        {% if authorinfo.website != "" and authorinfo.website != nil %}
                          <a href="{{authorinfo.website}}">
                           {% if author == "TG" %}
                             <b><u>{{authorinfo.name}}</u></b>
                           {% else %}
                             {{authorinfo.name}}
                           {% endif %}
                          </a>
                         {% else %}
                           {{authorinfo.name}}
                         {% endif %}
                         {%unless forloop.last %}
                           ,
                         {%endunless%}
                     {% endfor %}
                     </p>
                   {% endfor %}
                </div>
             </div>

